*~
*.ocf
*.osf
odc?????
Linux_*
OpenBSD_*
FreeBSD_*
BlackBox.exe
BlackBoxMDI.exe
BlackBoxInterp.exe
blackboxLinux
blackboxInterpLinux
blackboxFreeBSD
blackboxInterpFreeBSD
blackboxOpenBSD
blackboxInterpOpenBSD

append
packaging/Deb/*.deb
packaging/Deb/build/
packaging/Arch/src/
packaging/Arch/pkg/
packaging/Arch/bbcb2/
packaging/Arch/*.zst

*/Xtras/*/defs-basictypes
*/Xtras/*/sizeofs
*/Xtras/Ioctl/Ioctl.odc
*/Xtras/Ioctl/Ioctl.txt
*/Xtras/LibW/LibW.odc
*/Xtras/LibW/LibW.txt
*/Xtras/Libc/Libc.odc
*/Xtras/Libc/Libc.txt
*/Xtras/Libc/defs-errno
*/Xtras/Libc/defs-errno.txt
*/Xtras/Libc/dumpstrerrno
*/Xtras/Libc/dumpstrerrno.c
*/Xtras/Libc/strerrnocase.txt
*/Xtras/Net/Net.odc
*/Xtras/Net/Net.txt
*/Xtras/Termios/Termios.odc
*/Xtras/Termios/Termios.txt
