MODULE %%subsystem%%Ioctl ["libc.so%%libver%%"];

	(*
		%%osname%%
		%%machine%%
	*)

	CONST
@@i=sys/ioctl.h:t=s:TIOCM_*@@

@@i=sys/ioctl.h:t=i:FIO*@@

@@i=sys/ioctl.h:t=i:TIOCMGET,TIOCMSET,TIOCEXCL,TIOCNXCL,TIOCOUTQ,TIOCSBRK,TIOCCBRK,TIOCMBIS,TIOCMBIC@@

	TYPE
%%defs-basictypes%%
	PROCEDURE [ccall] ioctl0* ["ioctl"] (d: int; request: INTEGER): int;
	PROCEDURE [ccall] ioctl1* ["ioctl"] (d: int; request: INTEGER; VAR arg: INTEGER): int;

END %%subsystem%%Ioctl.
